<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <thead>
        <tr>
            <f:for each="{row0}" as="field">

                <f:if condition="{field.sortable} == true">
                    <f:then>
                        <f:if condition="{field.config.hidden} != 1">
                            <th scope="col" {f:if(condition: '{field.sortable}', then: 'data-field="{field.name}" data-sortable="true"', else: '')}>
                            <f:if condition="{sortField} == {field.name}">
                                <f:then>
                                    <f:if condition="{sort} == 'desc'">
                                        <f:then>
                                            <f:link.action action="{action}" arguments="{currentPage: '{currentPage}', filterValues: filterValues, sort: 'asc', sortField: '{field.name}' }" title="ASC {field.name}">{field.config.label}</f:link.action> <i class="fas fa-sort-up text-right" />
                                        </f:then>
                                        <f:else>
                                            <f:link.action action="{action}" arguments="{currentPage: '{currentPage}', filterValues: filterValues, sort: 'desc', sortField: '{field.name}' }" title="DESC {field.name}">{field.config.label}</f:link.action> <i class="fas fa-sort-down text-right" />
                                        </f:else>
                                    </f:if>
                                </f:then>
                                <f:else>
                                    <f:link.action action="{action}" arguments="{currentPage: '{currentPage}', filterValues: filterValues, sort: 'desc', sortField: '{field.name}' }" title="DESC {field.name}">{field.config.label}</f:link.action> <i class="fas fa-sort-down text-right" />
                                </f:else>
                            </f:if>
                            </th>
                        </f:if>
                    </f:then>
                    <f:else>
                        <f:if condition="{field.config.hidden} != 1">
                            <f:then>
                                <th>
                                    {field.config.label}
                                </th>
                            </f:then>

                        </f:if>
                    </f:else>

                </f:if>
            </f:for>
        </tr>

    </thead>
</html>
