<html lang="en" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:debug>{pagination}</f:debug>

<f:if condition="{f:count(subject: pagination.pages)} > 1">
    <nav>
        <ul class="pagination justify-content-center">
            <f:if condition="{pagination.previousPage} >= 0">
                <li class="page-item{f:if(condition: '{currentPage} == 0', then: ' disabled')}">
                    <f:link.action class="page-link" action="{action}" arguments="{currentPage: '{currentPage - 1}', filterValues: filterValues, sortField: sortField, sort: sort}">&laquo;</f:link.action>
                </li>
            </f:if>
            <li class="page-item{f:if(condition: '{currentPage} == 0', then: ' active')}"><f:link.action class="page-link" action="{action}" arguments="{currentPage: 0, filterValues: filterValues, sortField: sortField, sort: sort}">1</f:link.action></li>
            <f:if condition="{pagination.hasLessPages}">
                <li>…</li>
            </f:if>
            <f:for each="{pagination.pages}" as="page">
                <f:variable name="pageNum">{page.index + 1}</f:variable>
               <f:if condition="{page.active} && {pageNum} > 1">
               	    <f:then>
                        <li class="page-item active">
                            <f:link.action class="page-link" action="{action}" arguments="{currentPage: page.index, filterValues: filterValues, sortField: sortField, sort: sort}">{page.label} <span class="sr-only">(current)</span></f:link.action>
                        </li>
                    </f:then>
               	    <f:else>
                        <f:if condition="{pageNum} > {pagination.displayRangeStart} && {page.index} > 0 && {pageNum} < {pagination.displayRangeEnd}">
                            <li class="page-item">
                                <f:link.action class="page-link" action="{action}" arguments="{currentPage: page.index, filterValues: filterValues, sortField: sortField, sort: sort}">{page.label}</f:link.action>
                            </li>
                        </f:if>
                    </f:else>
               </f:if>
            </f:for>
            <f:if condition="{pagination.hasMorePages}">
                <li>…</li>
            </f:if>
            <f:if condition="{pagination.displayRangeEnd} < {pagination.numberOfPages}">
                <li class="last">
                    <f:link.action class="page-link" action="{action}" arguments="{currentPage: pagination.lastPage, filterValues: filterValues, sortField: sortField, sort: sort}">{pagination.numberOfPages}</f:link.action>
                </li>
            </f:if>
            <f:if condition="{pagination.nextPage} < {pagination.numberOfPages}">
                <li class="page-item{f:if(condition: '{currentPage + 1} == {pagination.numberOfPages}', then: ' disabled')}">
                    <f:link.action class="page-link" action="{action}" arguments="{currentPage: '{currentPage + 1}', filterValues: filterValues, sortField: sortField, sort: sort}">&raquo;</f:link.action>
                </li>
            </f:if>
        </ul>
    </nav>
</f:if>
</html>
