<html lang="en" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:tcafe="http://typo3.org/ns/Vd/Tcafe/ViewHelpers" data-namespace-typo3-fluid="true">
<tcafe:fal data="{tcafe:getDataFromRow(row: row)}" field="{field.name}" table="{configuration.table}" as="files">
    <f:for each="{files}" as="file">
        <f:switch expression="{file.type}">
            <f:case value="3">
                <f:render partial="Types/File/Audio" arguments="{file: file, field: field, settings: settings}" />
            </f:case>
            <f:case value="4">
                <f:render partial="Types/File/Video" arguments="{file: file, field: field, settings: settings}" />
            </f:case>
            <f:case value="5">
                <f:render partial="Types/File/Document" arguments="{file: file, field: field, settings: settings}" />
            </f:case>
            <f:defaultCase>
                <f:render partial="Types/File/Image" arguments="{file: file, field: field, settings: settings}" />
            </f:defaultCase>
        </f:switch>
    </f:for>
</tcafe:fal>
</html>
