<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:tcafe="http://typo3.org/ns/Vd/Tcafe/ViewHelpers" data-namespace-typo3-fluid="true">
<tcafe:fal data="{tcafe:getDataFromRow(row: row)}" field="{field.name}" table="{configuration.table}" as="files">
    <f:for each="{files}" as="file">
        <f:if condition="({action} == 'list' && {field.config.linkedField})">
            <f:then>
                <f:link.action action="detail" pageUid="{configuration.detail.pid}"><f:image treatIdAsReference="1" src="{file.uid}"/></f:link.action>
            </f:then>
            <f:else>
                <f:image treatIdAsReference="1" src="{file.uid}"/>
            </f:else>
        </f:if>
    </f:for>
</tcafe:fal>
</html>
