<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:tcafe="http://typo3.org/ns/Vd/Tcafe/ViewHelpers" data-namespace-typo3-fluid="true">
<tcafe:relation uidLocal="{row.uid.value}" table="{configuration.table}" foreignFieldName="{field.name}" foreignFieldValue="{field.value}" foreignTableSelectFields="{field.config.fields}">
    <f:for each="{records}" as="record">
        <dl class="border-bottom">
            <f:for each="{record}" as="field">
                <f:if condition="{field.config.hidden} == 0 && {field.value}">
                    <dt>
                        {field.config.label}
                    </dt>
                    <dd>
                        <f:render partial="Types/{field.config.type}" arguments="{field: field, configuration: newConfiguration, row: record, settings: settings}"/>
                    </dd>
                </f:if>
            </f:for>
        </dl>
    </f:for>
</tcafe:relation>
</html>
