<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
      data-namespace-typo3-fluid="true">

<!-- build a List -->

<!-- render filter -->
Render filter


<!-- render infos -->
<!-- render pagination -->

<!-- render data -->
<f:for each="{rows}" as="row">
    <ul class="list-disc">
        <f:for each="{row}" as="field" iteration="it">
            <f:if condition="{field.config.visible}">
                <li>
                    <f:render partial="Types/{field.config.type}" arguments="{field: field, configuration: configuration, row: row, settings: settings, action:'list'}"/>
                </li>
            </f:if>
        </f:for>
    </ul>
</f:for>
Render list or table

<!-- render pagination -->
<!-- render infos -->

</html>
