<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:for each="{rows}" as="row">
    <ul class="list-disc">
        <f:for each="{row}" as="field" iteration="it">
            <f:if condition="{field.config.hidden} == 0">
                <li>
                    <f:render partial="Types/{field.config.type}" arguments="{field: field, configuration: configuration, row: row, settings: settings, action: 'list'}"/>
                </li>
            </f:if>
        </f:for>
    </ul>
</f:for>
</html>
